.header {
  display: grid;
  align-content: center;
  justify-content: space-between;
  grid-template-rows: 60px;
  grid-template-columns: repeat(2, max-content);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &-position {
    margin-bottom: 50px;
    padding: 0 50px;
  }

  &__logo {
    width: $logoSize;
    height: $logoSize;
    align-self: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    height: $percent;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(8, max-content);
    align-self: center;
    gap: 20px;
    list-style: none;
  }

  &__item {
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 23px 0;
    transition: color 0.3s;
  }
}

.is-active,
.header__link:hover {
  position: relative;
  color: #00acdc;
}

.is-active::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: $percent;
  height: 4px;
  border-radius: 8px;
  background-color: #00acdc;
}
