@import "__reset";
@import "__fonts";
@import "__variables";
@import "__mixins";
@import "header";
@import "card";
@import "rating";
@import "price";

.main-styles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 50px 48px;
  justify-content: center;
}

.main-properties {
  max-width: 944px;
  width: calc(100% - 80px);
  margin: 0 auto;
}

@media (min-width: 1020px) {
  .main-styles {
    grid-template-columns: repeat(4, 200px);
  }
}
