@import "__reset";
@import "__fonts";
@import "__variables";
@import "__mixins";
@import "header";
@import "card";
@import "rating";
@import "price";

.main-styles {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px;
  justify-content: space-between;
}

.main-properties {
  max-width: 944px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
