.rating {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  &-margin {
    margin-bottom: 20px;
  }

  &__stars {
    height: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
  }

  &__reviews {
    font-weight: $defaultFw;
    font-size: $basicCardFz;
    line-height: 15px;
    margin: 0;
  }
}

.rating__stars--0 .rating__star:nth-child(n),
.rating__stars--1 .rating__star:nth-child(n + 1),
.rating__stars--2 .rating__star:nth-child(n + 2),
.rating__stars--3 .rating__star:nth-child(n + 3),
.rating__stars--4 .rating__star:nth-child(n + 4) {
  width: 15px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rating__stars--1 .rating__star:first-child,
.rating__stars--2 .rating__star:nth-child(-n + 2),
.rating__stars--3 .rating__star:nth-child(-n + 3),
.rating__stars--4 .rating__star:nth-child(-n + 4),
.rating__stars--5 .rating__star:nth-child(n) {
  width: 15px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
