.rating {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  &-margin {
    margin-bottom: 20px;
  }

  &__stars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
  }

  &__active {
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;
    &-properties {
      width: $starSize;
      height: $starSize;
    }
  }

  &__unactive {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    &-properties {
      width: $starSize;
      height: $starSize;
    }
  }

  &__reviews {
    font-weight: $defaultFw;
    font-size: $basicCardFz;
    line-height: 15px;
    margin: 0;
  }
}
